<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: baseHead">
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header Section Begin -->
	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo">
							<a th:href="@{/}" href="#"> <img th:src="@{/image/logo.png}"
								src="#" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7">
						<div class="advanced-search">
							<button type="button" class="category-btn">All
								Categories</button>
							<div class="input-group">
								<input type="text" placeholder="What do you need?">
								<button type="button">
									<i class="ti-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3" id="addToCardList">
						<ul class="nav-right">
							<li class="heart-icon"><a href="#"> <i
									class="icon_heart_alt"></i> <span>0</span>
							</a></li>
							<li class="cart-price">&euro;
								[[${#numbers.formatDecimal(orders.getTotalOrderPrice(), 0,
								'COMMA', 2, 'POINT')}]]</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>Shopping List</span>
						<ul class="depart-hover">
							<li th:each="category: ${lCategory}"><a
								th:href="@{/view/product/}+${category.id}" href="#"
								th:text="${category.categoryName}"></a></li>
						</ul>
					</div>
				</div>
				<nav class="nav-menu mobile-menu">
					<ul>
						<li><a th:href="@{/}" href="#">Home</a></li>
						<li><a th:href="@{/view/shop}" href="#">Shop</a></li>
					</ul>
				</nav>
				<div id="mobile-menu-wrap"></div>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text product-more">
						<a th:href="@{/}" href="#"><i class="fa fa-home"></i> Home</a> <a
							th:href="@{/view/shop}" href="#">Shop</a><a
							th:href="@{/view/shopping-cart/}+${orders.id}" href="#">Shopping
							Cart</a><a th:href="@{/view/check-out/}+${orders.id}" href="#">Check Out</a> <span>Cart Payment</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section Begin -->

	<!-- Shopping Cart Section Begin -->
	<section class="checkout-section spad" style="padding-top: 20px">
		<div class="container">
			<form class="checkout-form" id="paymentForm">
				<div class="row">
					<div class="col-lg-6">
						<!-- <div class="checkout-content">
							<a href="#" class="content-btn">Click Here To Login</a>
						</div> -->
						<h4>Cart Details</h4>
						<div class="row">
							<div class="col-lg-12">
								<label for="cardHolderName">Name on Card <span>*</span></label>
								<input type="text" name="cardHolderName" placeholder="Name on Card" id="cardHolderName" required>
							</div>
							<div class="col-lg-12">
								<label for="cardName">Card Number <span>*</span></label> <input
									type="text" name="cardNumber" placeholder="xxxx xxxx xxxx xxxx" id="cardNumber" required>
							</div>
							<div class="col-lg-6">
								<label for="last">CVC<span>*</span></label> <input type="text"
									id="cvv" name="cvv" placeholder="ex. 311" required> <input type="hidden" id="orderId"
									name="orderId" th:value="${orders.id}" required >
							</div>
							
							<div class="col-lg-3">
								<label for="expireMonth">Expiration<span>*</span></label> <input
									type="text" id="expireMonth" name="expireMonth" placeholder="MM" value="" required>
									
							</div>
							<div class="col-lg-3">
							    <label for="expireDate"></label>
								<input type="text" style="margin-top:5px" id="expireDate" name="expireDate" placeholder="YYYY" value="" required>
							</div>
							<div class="col-lg-12">
								<label for="payAmount">Pay Amount</label> <input
									type="text" name="payAmount" id="payAmount" th:value="'&euro; '+${#numbers.formatDecimal(orders.getTotalOrderPriceWithDeliveryCharge(), 0,'COMMA', 2, 'POINT')}" disabled>
							</div>
							
							<div class="col-lg-12">
								<div class="order-btn">
									<button type="submit" class="site-btn place-btn">Pay here</button>
								</div>
							</div>

							<!--<div class="col-lg-12">
								<div class="create-item">
									<label for="acc-create"> Create an account? <input
										type="checkbox" id="acc-create"> <span
										class="checkmark"></span>
									</label>
								</div>
							</div>-->
						</div>
					</div>
					<div class="col-lg-6">
						<!--<div class="checkout-content">
							<input type="text" placeholder="Enter Your Coupon Code">
						</div>-->
						<div class="place-order">
							<h4>Order Details</h4>
							<div class="order-total">
								<ul class="order-table">
									<li>Product <span>Total</span></li>
									<li class="fw-normal" th:each="order: ${orders.orderProducts}">[[${order.getProduct().name}]]
										x [[${order.quantity}]] <span>&euro;
											[[${#numbers.formatDecimal(order.getTotalPrice(), 0, 'COMMA',
											2, 'POINT')}]]</span>
									</li>
									<li class="fw-normal">Subtotal <span>&euro;
											[[${#numbers.formatDecimal(orders.getTotalOrderPrice(), 0,
											'COMMA', 2, 'POINT')}]]</span></li>
									<li class="fw-normal">Delivery charge <span id="deliveryChargeAmount">&euro;
											[[${#numbers.formatDecimal(orders.deliveryCharge, 0,
											'COMMA', 2, 'POINT')}]]</span></li>
									<li class="total-price">Total <span>&euro;
											[[${#numbers.formatDecimal(orders.getTotalOrderPriceWithDeliveryCharge(), 0,
											'COMMA', 2, 'POINT')}]]</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
	<!-- Shopping Cart Section End -->

	<!-- Partner Logo Section Begin -->
	<div class="partner-logo">
		<div class="container">
			<div class="logo-carousel owl-carousel">
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partner Logo Section End -->

	<footer th:replace="general :: footer"></footer>


</body>

</html>