<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="general :: baseHead">
</head>
<body>
	<style>
.dropdown-menu.show {
	display: block;
	background-color: black;
}
</style>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Header Section Begin -->
	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo">
							<a th:href="@{/}" href="#"> <img th:src="@{/image/logo.png}"
								src="#" alt="">
							</a>
						</div>
					</div>

					<div class="col-lg-7 col-md-7">
						<div class="advanced-search">
							<p class="category-btn">
								<i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
							</p>
							<div class="input-group">
								<h3 style="margin-top: 5px; font-weight: bold">HLS DRINK
									SHOP</h3>
								<button type="button">
									<i class="fa fa-tachometer" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-right col-md-3" id="addToCardList">
						<ul class="nav-right">
							<li><a th:href="@{/logout}" href="#" class="btn btn-info"><i
									class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>Product List</span>
						<ul class="depart-hover">
							<li><a th:href="@{/admin/product-list}" href="#">Product
									List</a></li>
							<li><a th:href="@{/admin/add-product}" href="#">Add
									Product</a></li>
							<li class="active"><a th:href="@{/admin/category-list}"
								href="#">Product Category</a></li>
						</ul>
					</div>
				</div>

				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>Orders</span>
						<ul class="depart-hover">
							<li><a th:href="@{/admin/delivery-order}" href="#">Delivery Orders</a></li>
							<li><a th:href="@{/admin/pickup-order}" href="#">Pickup Orders</a></li>
						</ul>
					</div>
				</div>

				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>Admin User</span>
						<ul class="depart-hover">
							<li><a th:href="@{/admin/user-list}" href="#">User List</a></li>
							<li><a th:href="@{/registration}" href="#">Add user</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</header>
	<!-- Header End -->


	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text product-more">
						<a th:href="@{/admin/home}" href="#"><i
							class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a> <span>Product
							Category</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section end -->
	<!-- Shopping Cart Section Begin -->
	<section class="checkout-section spad" style="padding-top: 10px">
		<div class="container">
			<form method="POST" enctype="multipart/form-data"
				class="checkout-form" id="categoryForm" name="categoryForm">
				<div class="row">
					<div class="col-lg-6">
						<!-- <div class="checkout-content">
								<a href="#" class="content-btn">Click Here To Login</a>
							</div> -->
						<h4>New Category</h4>
						<div id="product-messgae"></div>
						<div class="row">
							<div class="col-lg-6">
								<label for="productCategory">Product Category<span>*</span></label>
								<input type="text" name="categoryName" id="categoryName">
							</div>
							<div class="col-lg-6">
							    
								<button style="margin-top:28px" type="submit" class="site-btn place-btn">Add</button>
							</div>

						</div>
					</div>
					<div class="col-lg-6">
						
					</div>
				</div>
			</form>

			<div class="row">
				<div class="col-lg-12">
					<div class="cart-table">
						<table>
							<thead>
								<tr>
									<th>Category Name</th>
									<th>Visibility</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr th:id="'rowCategory'+${category.id}"
									th:each="category: ${lcategories}">

									<td class="p-price first-row">
										<h5>[[${category.categoryName}]]</h5>
									</td>
									<td class="total-price first-row"
										th:id="'row-cat-visibility'+${category.id}">
										<input th:if="${category.isShow()}" type="checkbox" th:id="'cat-input-visible'+${category.id}"  data-toggle="toggle" data-on="True" data-off="False" checked>
										<input th:unless="${category.isShow()}" type="checkbox" th:id="'cat-input-visible'+${category.id}"  data-toggle="toggle" data-on="True" data-off="False">
										
									</td>
									<td class="p-price first-row"><a href="#"
										class="btn btn-info"><i class="fa fa-pencil-square-o"
											aria-hidden="true"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- Shopping Cart Section End -->

	<!-- Partner Logo Section Begin -->
	<div class="partner-logo">
		<div class="container">
			<div class="logo-carousel owl-carousel">
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partner Logo Section End -->

	<footer th:replace="general :: footer"></footer>
	<script th:src="@{/js/validation/add-category.js}"></script>
</body>

</html>