<!DOCTYPE html>
<html lang="zxx">

<head th:replace="general :: baseHead">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="container">
			<div class="inner-header">
				<div class="row">
					<div class="col-lg-2 col-md-2">
						<div class="logo">
							<a th:href="@{/}" href="#"> <img th:src="@{/image/logo.png}"
								src="#" alt="">
							</a>
						</div>
					</div>
					<div class="col-lg-7 col-md-7">
						<div class="advanced-search">
							<p class="category-btn"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</p>
							<div class="input-group">
							    <h3 style="margin-top:5px;font-weight:bold">HLS DRINK SHOP</h3>
								<button type="button">
									<i class="fa fa-tachometer" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="col-lg-3 text-right col-md-3">
						<ul class="nav-right">
							<li><a th:href="@{/logout}" href="#" class="btn btn-info"><i
									class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-item">
			<div class="container">
				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>Product List</span>
						<ul class="depart-hover">
							<li><a th:href="@{/admin/product-list}" href="#">Product List</a></li>
							<li><a th:href="@{/admin/add-product}" href="#">Add Product</a></li>
							<li><a th:href="@{/admin/category-list}" href="#">Product Category</a></li>
						</ul>
					</div>
				</div>

				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>Orders</span>
						<ul class="depart-hover">
							<li><a th:href="@{/admin/delivery-order}" href="#">Delivery Orders</a></li>
							<li><a th:href="@{/admin/pickup-order}" href="#">Pickup Orders</a></li>
						</ul>
					</div>
				</div>

				<div class="nav-depart">
					<div class="depart-btn">
						<i class="ti-menu"></i> <span>Admin User</span>
						<ul class="depart-hover">
							<li><a th:href="@{/admin/user-list}"  href="#">User List</a></li>
							<li class="active"><a th:href="@{/registration}" href="#">Add user</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/admin/home}" href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a> <span>Admin
							Register</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Form Section Begin -->

	<!-- Register Section Begin -->
	<div class="register-login-section spad" style="padding-top: 10px">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div th:if= "${successMessage != null}" class="alert alert-success" role="alert"
						th:utext="${successMessage}"></div>
					<div class="register-form">
						<h2>New Admin Register</h2>
						<form action="#" th:action="@{/registration}" autocomplete="off"
							th:object="${user}" method="post" role="form">
							<div class="group-input">
								<label for="name">First Name *</label> <input type="text"
									th:field="*{name}" placeholder="First Name" id="firstName">
								<label style="color: red" th:if="${#fields.hasErrors('name')}"
									th:errors="*{name}" for="name"></label>
							</div>
							<div class="group-input">
								<label for="lastName">Last Name *</label> <input type="text"
									th:field="*{lastName}" placeholder="Last Name" id="lastName">
								<label style="color: red" for="lastName"
									th:if="${#fields.hasErrors('lastName')}"
									th:errors="*{lastName}"></label>
							</div>
							<div class="group-input">
								<label for="email">Email *</label> <input type="email"
									th:field="*{email}" placeholder="Email" id="email"> <label
									style="color: red" for="email"
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
							</div>
							<div class="group-input">
								<label for="userName">UserName *</label> <input type="text"
									th:field="*{userName}" placeholder="User Name" id="userName">
								<label style="color: red" for="userName"
									th:if="${#fields.hasErrors('userName')}"
									th:errors="*{userName}"></label>
							</div>
							<div class="group-input">
								<label for="password">Password *</label> <input type="password"
									th:field="*{password}" placeholder="Password" id="password">
								<label style="color: red" for="password"
									th:if="${#fields.hasErrors('password')}"
									th:errors="*{password}"></label>
							</div>
							<button type="submit" class="site-btn register-btn">REGISTER</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Register Form Section End -->

	<!-- Partner Logo Section Begin -->
	<div class="partner-logo">
		<div class="container">
			<div class="logo-carousel owl-carousel">
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
				<div class="logo-item">
					<div class="tablecell-inner">
						<img src="#" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partner Logo Section End -->

	<!-- Partner Logo Section End -->

	<footer th:replace="general :: footer"></footer>
</body>

</html>